<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>

    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <!--Navigation Bar-->
    <nav>
        <div class="container-1">
          <h1 class="logo">Expense Tracker</h1>
    
          <div class="nav">
            <a href="#" class="isactive">Home</a>
            <a href="#">Add A Expense</a>
            <a href="#">Login</a>
          </div>
        </div>
    </nav>
    <br>

    <%- body %>
    
    <br>
    
</body>
</html>