<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/landing.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

    <style>

      html {
        font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      }

      .body-bg {
            background-color: #161616;
        }
    </style>
  </head>

  <body>
    <%- include('particles/header.ejs') %>

      <!--Main-->
      <div class="container justify-center pt-24 md:pt-36 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <!--Left Col-->
        <div class="content-center flex flex-col w-full xl:w-2/5 justify-center lg:items-center overflow-y-hidden">
          <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
            Welcome to this
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
              Expense Tracker <p hidden>    </p>  
            </span>
          </h1>
          <p class="text-white leading-normal text-base md:text-2xl mb-8 text-center md:text-left">
            Register an account or Login to start tracking now!
          </p>
      </div>

      <div class="container">
        <div class="row">
          <div class="align-items-center col-sm d-flex flex-column ">
            <h4>What does this app do?</h4>
            <p class="text-light">This expense tracker allows you to track all finances so you can keep on top of your spending. You can specify the type of the expense and also a description so you can clearly see what you bought.</p>
          </div>
          <div class="align-items-center col-sm d-flex flex-column ">
            <h4>How do I use the tracker?</h4>
            <p class="text-light">Firstly, you will need to register an account using the Register button above or if you already have an account Login. To begin tracking, click on the Add New Transaction button and enter the details of your expense and then click save. Your transaction(s) will be displayed to you. If you need to Update or Delete a expense there are buttons to do so. When your finished tracking, click Logout and come back later. </p>
          </div>
          <div class="align-items-center col-sm d-flex flex-column ">
            <h4>Are my email and password safe?</h4>
            <p class="text-light">Yes! This tracker uses a hashing system to make sure your password is safely stored and protected from various attacks. You have no need to worry.</p>
          </div>
        </div>
      </div>
  </body>
</html>